<form id="new-movie" role="form">
  <% if @movie.errors.any? %>
    <div>
    <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form_for @movie do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title,
        class: "form-control",
        placeholder: "Enter title" 
      %>
    </div>

    <div class="form-group">
      <%= f.label :release_date %>
      <%= f.text_field :release_date,
        class: "form-control",
        placeholder: "Enter release date"
      %>
    </div>

    <div class="form-group">
      <%= f.label :director %>
      <%= f.text_field :director,
        class: "form-control",
        placeholder: "Enter director"
      %>
    </div>

    <div class="form-group">
      <%= f.label :runtime_in_minutes %>
      <%= f.number_field :runtime_in_minutes,
        class: "form-control",
        placeholder: "Enter runtime in minutes."
      %>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image,
        class: "form-control" 
      %>
      <small class="text-muted">".jpg, .jpeg, or .png"</small>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description,
        class: "form-control"
      %>
    </div>

    <%= f.submit "Submit",
      class: "btn btn-darkgray"
    %>  
  
    <%= link_to "Back to all movies", 
      movies_path,
      class: "btn btn-darkgray"
    %>   
  
  <% end %>
</form>