<section>
  <p class="subtitle">Search Movies</p>
  <form>
    <%= form_tag movies_path, method: :get do %>
      <p class="control">
        <%= label_tag(:search, "Search:") %>
        <%= text_field_tag(
          :search, 
          params[:search], 
          class: 'input',
          placeholder: 'title or director') %>
      </p>

      <p class="control">
        <%= label_tag(:runtime_in_minutes, "Duration:") %>
        <% @options=['','Under 90 minutes','Between 90 and 120 minutes', 'Over 120 minutes'] %>
        <%= select_tag(
          :runtime_in_minutes, 
          options_for_select(@options.to_a),
          class: 'input select'
          )
        %>
      </p>
      <p class="control">
        <%= submit_tag(
        "Search",
        class: 'button') %>
      </p>
  <% end %>
  </form>
</section>
<hr>

<section>
  <% @movies.each do |movie| %>

    <h2>
      <%= image_tag movie.image.thumb.url %><%= link_to movie.title, movie_path(movie) %>
    </h2>

    <h3>
      <%= movie.release_date %>
    </h3>

    <h4>
      Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes 
    </h4>
    
    <p>
    <%= movie.description %>
    </p>
    <hr>
  <% end %>

</section>

<section>
  <%= link_to "Submit a movie!", new_movie_path %>
</section>


