<nav id="cust-navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="btn-group">
        <%= link_to "Rotten Mangoes", root_path, class: :"navbar-brand" %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <div class="nav navbar-left">
        <%= link_to "All Movies", movies_path, class: "btn btn-gray navbar-btn" %>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="container-fluid">
                <%= render './movies/search' %>
              </div>
            </li>
          </ul> 
        </li>
      </ul>
      <div class="nav navbar-right">
        <% if current_user %>
          <p class="navbar-text"> Signed in as <%= current_user.full_name %></p>
          <%= link_to "Log out".html_safe, session_path,
            method: :delete, 
            class: "btn btn-gray navbar-btn" 
          %>
          <% if current_user.admin? %>
            <%= link_to "Admin Panel", admin_users_path,
              class: "btn btn-darkgray navbar-btn"
            %>
          <% end %>
        <% else %>
           <%= link_to "Log In", new_session_path, class: "btn btn-default navbar-btn" %> <%= link_to "Sign Up", new_user_path, class: "btn btn-darkgray navbar-btn" %>
        <% end %>
      </div>

    </div>

  </div>
</nav>